meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Medidas de prevención y contingencia ante derrame de productos
meta(meta name="description" content="Durante todo el ciclo de vida de los plaguicidas químicos, existe una posibilidad de que nos enfrentemos a alguna situación de emergencia, tales como derrames, incendios y explosiones. Estas emergencias se podrán prevenir siempre y cuando apliquemos las normas y técnicas recomendadas para el manejo y almacenamiento de estas sustancias.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")