h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 22020103209–07. Alistar equipos e insumos necesarios para la aplicación de plaguicidas según criterios técnicos y normatividad vigente.
            li
                span 22020103210–08. Realizar la aplicación de plaguicida de acuerdo con criterios técnicos.