.container#alistamiento

    .header-ecored
        h1 1. Ubicación de kits antiderrames, gabinetes antiderrames
    
    .card

        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

        .card-body
            .card-text

                p Un tipo de derrame de un plaguicida puede suceder en cualquier momento, solo cabe resaltar que, para cualquier emergencia de este tipo, se debe estar preparado.
                p.mt-4 Estos derrames casi siempre son peligrosos para la salud humana y se deben evitar a toda costa. Si llega a ser el caso de que esto ocurra, se deberá resolver inmediatamente, limpiando el área donde fue contaminado por el plaguicida.
                p.mt-4 En caso de que el derrame esté en el suelo se deberá utilizar utensilios absorbentes y luego recogerlos con cepillo y una pala recogedora.
                p.mt-4 Después de haber recogido el derrame, lave la ropa contaminada y posteriormente tome una ducha con bastante agua y jabón.

                img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 100%").img-a

                .sub-line
                    h2 A tener en cuenta
                
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deben limpiar los derrames inmediatamente después de ocurridos.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Siempre se deben tener en cuenta las instrucciones de la ficha técnica del plaguicida.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Después de ocurrido el derrame, se debe mantener a personas, animales y vehículos alejados de la zona contaminada por el incidente.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 En el caso que sea un plaguicida líquido derramado, se deberá utilizar materiales absorbentes como arena seca, aserrín y posteriormente recogerlos con cepillo y una pala recogedora.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Nunca utilice agua para limpiar la zona.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 En caso de que sea un plaguicida en polvo seco o de gránulos, se deberá limpiar con un cepillo y una pala y eliminarlos en forma segura y apropiada.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Tenga siempre a la mano arena, aserrín o tierra negra.

    br#ubicacion

    .jumbotron.bg-white

        .header-ecored.mt-0
            h2 1.1 Ubicación de kits antiderrames, gabinetes antiderrames.

        p Al utilizar sustancias químicas provenientes de los plaguicidas, hace que preexista el riesgo de que ocurra, de una manera accidental un vertimiento ocasionado por una caída, una mala manipulación o transporte de estos.
        p Estas situaciones imprevistas implican un riesgo para la salud de las personas y una contaminación para el medio ambiente.
        p Por este motivo, es de importancia:

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Conocer la ubicación del kit antiderrame.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Conocer los pasos a seguir en una situación similar, para un actuar preciso.
        
        .sub-line
            h2 Ubicación de los kits para el control de derrames

        .row.align-items-center
            .col-2.text-center
                img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
            .col
                p El contenido de los kits contempla elementos necesarios para iniciar un primer control al derrame, que, dependiendo de su tamaño, será totalmente controlado o requerirá la ayuda de otro kit.
                p Es de importancia tener presente que los kits están bajo la responsabilidad de cada área.

        .sub-line
            h2 Contenido del kit para el control de derrames
        
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-5
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p Elementos de protección personal básicos:
                        .row.alig-items-center
                            .col-4.p-4.text-center
                                img.img-fluid.my-2(src="assets/images/pages/img2.svg", style="max-width: 30%")
                                p.text-left #[b Guantes de nitrilo:] estos evitan el contacto directo de la piel con la sustancia.
                            .col-4.p-4.text-center
                                img.img-fluid.my-5(src="assets/images/pages/img3.svg", style="max-width: 30%")
                                p.text-left #[b Gafas de policarbonato:] estas gafas evitan el contacto de los ojos por las salpicaduras o gases de los plaguicidas.
                            .col-4.text-center
                                img.img-fluid.my-3(src="assets/images/pages/img4.svg", style="max-width: 30%")
                                p.text-left #[b Calzado especial:] es utilizado para evitar el contacto directo de los plaguicidas con la piel.                      
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p Material absorbente:

                        .row
                            .col-12.text-center
                                img.img-fluid.my-2(src="assets/images/pages/img5.svg", style="max-width: 10%")

                        p #[b Tierra inerte:] este material es absorbente, no presenta algún tipo de combustión. Material que absorbe rápidamente, evitando la propagación del derrame.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p Material de limpieza:
                        .row.alig-items-center.justify-content-center
                            .col-4.p-4.text-center
                                img.img-fluid.my-3(src="assets/images/pages/img6.svg", style="max-width: 30%")
                                p.text-left #[b Pala recogedora y escoba:] estas herramientas deben ser para la limpieza de la tierra inerte cuando ha sido impregnada con el derrame del plaguicida.
                            .col-4.p-4.text-center
                                img.img-fluid.my-2(src="assets/images/pages/img7.svg", style="max-width: 30%")
                                p.text-left #[b Paño absorbente:] es necesario para la limpieza de las superficies involucradas en el derrame.
        
        .sub-line
            h2 Contenido del kit para el control de derrames

        .row.align-items-center
            .col-2.text-center
                img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 100%")
            .col
                p Estos gabinetes deben ser herramientas útiles y resistentes que no sean afectadas por algún tipo de derrame de algún plaguicida.
                p Se debe utilizar material de estibar como por ejemplo tablones y ladrillos; para no colocar los recipientes de los plaguicidas directamente sobre el suelo.
                p En caso de que la corrosión ocasionada por un derrame de plaguicidas se observe de una manera tempestiva, se debe tomar las medidas apropiadas para la limpieza de ese derrame.

    br#protocolo

    .jumbotron.bg-white

        .header-ecored.mt-0
            h2 1.2 Protocolo de emergencia
        
        p Los pasos por seguir en una emergencia serán:

        .list.align-items-start.mt-5
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p Evaluación del derrame: determinar qué fue lo que sucedió, qué tipo de plaguicida y qué cantidad se filtró. En estos casos siempre se deben utilizar los elementos de protección personal.
                p Siempre tenga presente la necesidad de despejar el sitio para que otras personas no corran riesgo de afectarse
        .list.align-items-start.mt-3
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p Control del derrame: para esto se debe detener el derrame desde la fuente, para contrarrestar la contaminación. Si un producto en presentación líquida se ha volcado, levante el envase. O si este se ha roto proceda a la contención, utilizando los elementos y barreras absorbentes.
                p Las barreras absorbentes son cordones hechos con telas porosas y absorbentes rellenas con absorbente mineral. Se deberá colocar bordeando el derrame para así evitar que el líquido se extienda más.
                p Se deberá colocar en el interior del círculo formado por la barrera, paños o almohadillas para empezar a absorber el líquido.
                p Limpiar la zona contaminada: para derrame sólidos, se deberán recolectar de nuevo en bolsas de color rojo de material de polietileno, utilizando todos los equipos de protección personal y se procederá a rotular.
                p Se deberá lavar la zona contaminada con agua.
                p Los residuos después de un derrame deberán ser eliminados, entregándolos a empresas idóneas para su correspondiente eliminación.
        .list.align-items-start.mt-3
            .list__item
                .list__item__bulletNumber
                    span 3
            .list__txt
                p Descontaminación de los equipos y personal: se deberá disponer de una zona de descontaminación tanto para el personal afectado como para los diferentes implementos utilizados en la contención del derrame
                p Se deberá lavar los equipos y ropa utilizada.

        img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%").img-a1