.container#hojas

    .header-ecored
        h1 2. Hojas de seguridad o tarjetas de emergencia
    
    .card

        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

        .card-body
            .card-text

                p Son documentos que permiten entender los peligros en transporte, almacenamiento y uso de los plaguicidas tanto para el ser humano como para los ecosistemas. También nos informa acerca de las precauciones a tener en cuenta y las medidas pertinentes en caso de una emergencia.
                p.mt-4 Esta hoja de seguridad se le conoce como MSDS (Hoja de datos de seguridad de materiales); la MSDS es muy diferente a una ficha técnica, ya que esta tiene una mayor información referente a las especificaciones exactas e instrucciones para el buen uso del producto.

                .sub-line
                    h2 ¿Quién fabrica la MSDS?
                
                p Estas hojas de seguridad la emiten los fabricantes, hacia los centros de información, como CISTEMA, los cuales existen en diferentes países y en los cuales se acopia la información.  Estos centros tienen la viabilidad de prestar su servicio en caso de emergencia.
    
    br#reconocimiento

    .jumbotron.bg-white

        .header-ecored.mt-0
            h2 2.1 - Reconocimiento de la hoja de seguridad: secciones, información, disposición

        p Una hoja de seguridad tendrá las siguientes secciones, con sus respectivos contenidos:

        .sub-line
            h2 Sección uno. Producto e identificación de la compañía
        
        p Es el nombre del material que corresponde con el rotulado del producto y documentos de embarque y la dirección y número telefónico de la empresa que ha fabricado el producto.
        p Esta sección indica el número de teléfono de centro de formación que apoya al fabricante en la parte de oferta y divulgación de las hojas de seguridad y en los casos de emergencia.

        .row.justify-content-center.mt-4
            .col-8
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td.table1
                                b Compañía
                            td.table3
                                b XYZ
                        tr
                            td.table1
                                b Dirección de la compañía
                            td.table2 Hometown, USA 12345.
                        tr
                            td.table1
                                b Teléfono de la compañía
                            td.table3 (800) 123-1234
                        tr
                            td.table1
                                b Emergencia médica
                            td.table2 (800) 234-1234
                        tr
                            td.table1
                                b Emergencia química
                            td.table3 (800) 894-5612
                        tr
                            td.table1
                                b Nombre del producto
                            td.table2 XYZ
                        tr
                            td.table1
                                b Código del producto
                            td.table3 68907
                        tr
                            td.table1
                                b Fecha de publicación
                            td.table2 2/1/2013
                        tr
                            td.table1
                                b Fecha de reemplazo
                            td.table3 2/1/2014
        
        .sub-line
            h2 Sección dos. Identificación de peligros
        
        p Esta sección describe la apariencia del material, como también su estado físico y los peligros para la salud, también los peligros físicos y ambientales que requerirán una atención inmediata en algún caso de emergencia, tales como: peligro de fuego, alguna explosión, o las posibles consecuencias al tener contacto directo con el producto, vías de ingreso del producto al ser humano, y órganos que se verían afectados por la alta exposición con efectos inmediatos severos y los posibles efectos posteriores.
        p La identificación de los peligros debe dar a conocer información general y de un fácil entender acerca de los efectos que puede ocasionar a la salud y los síntomas derivados con la exposición al plaguicida.
        p Esta sección también nos indica los efectos para el medio ambiente.

        .row.justify-content-center.mt-4
            .col-6
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Advertencia
                        tr
                            td.table1 Inflamable
                            td.table2.txt-color1 _______________
                        tr
                            td.table1 Causa una irritación grave en los ojos y el tracto respiratorio
                            td.table3
                        tr
                            td.table1 Altamente tóxico para los peces
                            td.table2
                        tr
                            td.table1 Vías problables de esposición: los ojos, la piel e inhalación
                            td.table3
                        tr
                            td.table1 Órganos objeto: hígado y riñon
                            td.table2
        
        .sub-line
            h2 Sección tres. Composición, información sobre ingredientes
        
        p Esta sección hace referencia a los componentes peligrosos del plaguicida, también se incluye la composición porcentual de las mezclas, los nombres científicos o comunes. El fabricante podrá o no publicar algunos ingredientes porque son secretos comerciales.

        .row.justify-content-center.mt-4
            .col-6
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="3").table1.text-center
                                b Composición sobre los componentes
                        tr
                            td.table1 Componente A
                            td.table2 123-45-6
                            td.table2 60-90
                        tr
                            td.table1 Componente B
                            td.table3 Secreto comercial
                            td.table3 may-15
                        tr
                            td.table1 Componente C
                            td.table2 Ninguna
                            td.table2 Secreto comercial
                        tr
                            td.table1 Componente D
                            td.table3 987-65-4
                            td.table3 0.1
        
        .sub-line
            h2 Sección cuatro. Medidas de primeros auxilios
        
        p Son las medidas para estabilizar al afectado ante una inhalación del plaguicida, absorción, ingestión o contacto del producto, hasta que el afectado tenga una atención profesional. Estas instrucciones deben ser relacionadas y coherentes con los efectos de la sección número dos.
        p También en esta sección se incluirá antídotos conocidos y notas para los médicos donde se expliquen tratamientos específicos o diagnósticos ideales y por último las contradicciones o preexistencias dependiendo el procedimiento usado.

        .row.justify-content-center.mt-4
            .col-8
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td.table1
                                b Organo afectado
                            td.table1
                                b Medidas de primeros auxilios
                        tr
                            td.table1 Contacto con los ojos.
                            td.table2 Lavar los ojos inmediatamente con agua durante un tiempo mínimo de 15 minutos.
                        tr
                            td.table1 Contacto con la piel.
                            td.table3 Retirar la ropa contaminada y lavarla. Lavar la piel con jabón y bastante agua.
                        tr
                            td.table1 Inhalación.
                            td.table2 Trasladarse al aire fresco.
                        tr
                            td.table1 Ingestión.
                            td.table3 No inducir al vomito.
                        tr
                            td.table1 Nota para los medicos.
                            td.table2 Este producto no es un inhibidor de la colinesterasa.
        
        .sub-line
            h2 Sección cinco. Medidas en caso de incendio
        
        p Esta sección informa sobre la posibilidad de que la sustancia pueda ocasionar un incendio y en qué circunstancias. Detalla sobre la temperatura en que el plaguicida puede ser inflamable, también nos menciona sobre las posibles causas de que explote y de cómo apagar un incendio por causa de este plaguicida.
        p Esta sección también indica sobre alguna condición o exposición en que no puede extinguir el incendio. También viene incluido el comportamiento de la sustancia cuando en el entorno existen las condiciones y materiales para potencializar los peligros ante un incendio.
        p Por último, se deberá incluir los elementos de protección personal para los bomberos.

        .row.justify-content-center.mt-4
            .col-8
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Medidas en caso de incendio
                        tr
                            td.table1 Medio adecuado de extinción.
                            td.table2 CO
                                sub 2
                        tr
                            td.table1 Medios no adecuados de no extinción.
                            td.table3 Espuma de alcohol.
                        tr
                            td.table1 Productos de combustión.
                            td.table2 Oxidos de carbono, nitrogeno y azufre.
                        tr
                            td.table1 Protección para los bomberos.
                            td.table3 Se recomienda que los bomberos utilicen aparatos de respiración autonomos y equipo completo de cambio contra incendios.
        
        .sub-line
            h2 Sección seis. Medidas en caso de vertido accidental
        
        p Esta sección plantea los procedimientos de limpieza y absorción de derrames, goteos o escapes de los plaguicidas. También se incluyen las advertencias sobre la dirección del viento.
        p Aborda además los equipos para contener los derrames, posibilidad de que estos derrames contaminen el medio ambiente y las instrucciones para aislar y descontaminar el área afectada.

        .row.justify-content-center.mt-4
            .col-8
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Medidas en caso de vertido accidental
                        tr
                            td.table1 Precausiones ambientales.
                            td.table2 Este material es contaminante del agua. No permita que el material derramado ingrese a las corrientes de agua.
                        tr
                            td.table1 Metodos de contención.
                            td.table3 Absorber el liquido derramado en un material adecuado.
                        tr
                            td.table1 Metodos de limpieza.
                            td.table2 Utilice herramientas a prueba de chispas para barrer o frotar y contenga en un recipiente.
                        tr
                            td.table1 Información adicional.
                            td.table3 Los derrames de este material no necesitan reportarse al centro de respuesta nacional.

        .sub-line
            h2 Sección siete. Manejo y almacenamiento
        
        p Esta sección se refiere al almacenamiento en condiciones seguras. Esto incluirá todas las reglamentaciones sobre manejo, higiene y precauciones generales.
        p También se debe tener en cuenta en la utilización de herramientas que no produzcan chispas, que los equipos sean a prueba de explosión y que se adviertan sobre la utilización de polos a tierra para los materiales inflamables.
        p En las condiciones de almacenamiento se deben utilizar atmósferas inertes y evitar el deterioro de los productos y sus contenedores.

        .sub-line
            h2 Sección ocho. Controles de exposición y protección personal
        
        p En esta sección van identificadas las guías de exposición del producto y de sus componentes, los límites de exposición permisibles tanto de los componentes como de las mezclas (TLV, STEEL, IDHL, PEL) y de sus unidades de medidas correspondientes (ppm, mg/metro cúbico).
        p En esta sección se incluyen los controles de ingeniería, tales como la ventilación. Los elementos de protección personal a utilizar se utilizarán dependiendo del uso normal del producto. De todas maneras, se debe tener presente en la prevención del contacto o inhalación directa del plaguicida.

        .row.justify-content-center.mt-4
            .col-8
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Guia de exposición
                        tr
                            td.table1 Componente A.
                            td.table2 Sin establecer.
                        tr
                            td.table1 Componente B.
                            td.table3 TWA: 100ppm
                        tr
                            td.table1 Componente C.
                            td.table2 TWA: 50ppm (limite sugerido por el fabricante)
                        tr
                            td.table1 Componente D.
                            td.table3 STEL: 250ppm
                        tr
                            td.table1 Controles de ingenieria.
                            td.table2 Suministra ventilación local de escape.
                        tr
                            td.table1 Protección facial.
                            td.table3 Utilizar gafas y caretas.
                        tr
                            td.table1 Protección dermica.
                            td.table2 Utilizar ropa resistente. como guantes, delantal, botas o traje completo.
        
        .sub-line
            h2 Sección nueve. Propiedades físicas y químicas
        
        p Esta sección indica sobre las propiedades del material, tales como:

        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-5
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p Apariencia (aspecto, color y forma).
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p Olor y umbral del olor.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p PH.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p Punto de congelación y punto de fusión.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p Inflamabilidad.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt
                        p Límites de explosividad.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 7
                    .list__txt
                        p Densidad del vapor.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 8
                    .list__txt
                        p Gravedad específica o densidad relativa.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 9
                    .list__txt
                        p Temperatura de descomposición.
        
        p.mt-4 La interpretación de cada una de las propiedades aportará información para prevenir y facilitar en algún caso de emergencia.

        .row.justify-content-center.mt-4
            .col-6
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td.table1.text-center
                                b Propiedad
                            td.table1.text-center
                                b Referencia
                        tr
                            td.table2 Color.
                            td.table2 Sin color.
                        tr
                            td.table3 Olor.
                            td.table3 Dulce.
                        tr
                            td.table2 Estado fisico.
                            td.table2 Liquido.
                        tr
                            td.table3 PH.
                            td.table3 No se aplica.
                        tr
                            td.table2 Punto de congelación.
                            td.table2 Menor a los -25 grados F.
                        tr
                            td.table3 Punto de ebullición.
                            td.table3 165 grados F.
                        tr
                            td.table2 Punto de inflamación.
                            td.table2 60 grados F.
                        tr
                            td.table3 Gravedad especifica.
                            td.table3 0.9 a 60 grados F.
                        tr
                            td.table2 Inflamabilidad.
                            td.table2 No se aplica.

        .sub-line
            h2 Sección diez. Estabilidad y reactividad
        
        p Esta sección explica si el plaguicida es estable o no en condiciones normales de temperatura y presión (21 grados Centígrados y 760 mmHg). Además, qué condiciones se deben evitar:

        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-5
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p Calor.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p Presión - luz.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p Humedad.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p Materiales incompatibles, que pueden ocasionar situaciones peligrosas.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p Productos de descomposición peligrosos, que provienen de un calentamiento o reacción química con otro material.
        
        p.mt-4 Esta sección es de vital importancia, ya que se eliminan riesgos al momento de almacenar.

        .sub-line
            h2 Sección once. Información toxicológica
        
        p Esta sección explica los efectos a corto o largo plazo si el plaguicida o alguno de sus componentes ingresa al organismo. Relaciona los estudios acerca de los efectos en casos reales que se han visto en humanos, en animales, en algunas pruebas de laboratorio.
        p Algunos efectos que se describen en esta sección son:

        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-5
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p Irritación.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p Sensibilización en piel y vías respiratorias.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p Efectos por dosis agudas (DL50-CL50).
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p Corrosividad.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p Efectos neurológicos.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt
                        p Efectos reproductivos.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 7
                    .list__txt
                        p Efectos de desarrollo.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 8
                    .list__txt
                        p Efectos sobre órganos blanco.
        
        .row.justify-content-center.mt-4
            .col-6
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Efectos agudos
                        tr
                            td.table1
                                b Item.
                            td.table1
                                b Descripción.
                        tr
                            td.table3 LD50 Oral.
                            td.table3 Menor a 5000 mg/kg (ratas).
                        tr
                            td.table2 LD50 dermico.
                            td.table2 Menor a 2000 mg/kg (conejos).
                        tr
                            td.table3 Inhalación.
                            td.table3 En los seres humanos, la irritación se produce a 200 ppm.
                        tr
                            td.table2 Irritación ocular.
                            td.table2 Puntaje de irritación primario 80/110.
                        tr
                            td.table3 Irritación en la piel.
                            td.table3 Puntaje de irritación primario 4.8/8.
        
        .sub-line
            h2 Sección doce. Información ecológica
        
        p Esta sección dispone los efectos tóxicos en organismos acuáticos y terrestres. También se podrán incluir estudios anteriores que tengan información y con ellos tomar una relación con el nuevo plaguicida.
        p Algunos datos puntuales que en esta sección expone son:

        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-5
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p Ecotoxicidad aguda y crónica en plantas acuáticas o terrestres.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p Ecotoxicidad aguda y crónica en animales o microorganismos, persistentes en el ambiente.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p Degradabilidad biológica o química.
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p Bioacumulación (factor de bioconcentración y coeficiente de partición octanol/agua).
                .list.align-items-start.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p Movilidad en el medio ambiente.
        
        .row.justify-content-center.mt-4
            .col-6
                table.table.table-bordered.table-striped
                    tbody
                        tr
                            td(colspan="2").table1.text-center
                                b Información ecologica
                        tr
                            td.table1
                                b Item.
                            td.table1
                                b Descripción.
                        tr
                            td.table3 Ecotoxicidad.
                            td.table3 Muy toxico para los peces.
                        tr
                            td.table2 Persistencia/degradación.
                            td.table2 Se espera la degradación bajo condiciones aerobicas y anaerobicas.
                        tr
                            td.table3 Movilidad en el ambiente.
                            td.table3 Se espera volatilización apreciable desde el agua hacia el aire.
        
        .sub-line
            h2 Sección trece. Consideraciones de disposición
        
        p En esta sección indica que cada país, ciudad deberá tener una normatividad referente al manejo adecuado del medio ambiente.
        p También presenta la información para realizar una disposición segura y que sea aceptable para el medio ambiente desde la normatividad del CERCLA (ley de compensación y recuperación ambiental) y la RCRA (ley de conservación).

        .sub-line
            h2 Sección catorce. Información sobre transporte
        
        p Esta sección describe cómo debe rotularse y empacar el producto. También informa sobre el número de identificación otorgado por la Organización de las Naciones Unidas y cómo será la vía de transporte permitido de este producto según la reglamentación que lo rige.

        .sub-line
            h2 Sección quince. Información reglamentaria
        
        p En esta sección dispone toda la reglamentación que deberá cumplir en salud, seguridad y el ambiente, tanto en el país de origen del producto como en el país donde se utilizará.
        p También vendrán incluidas todas las normas aplicadas en el etiquetado de contenedores y que se debe acompañar al momento de ser despachado.

        .sub-line
            h2 Sección dieciséis. Información adicional
        
        p En esta sección va incluida la información sobre el producto que podría ser útil. Aspectos tales como: texto de etiquetas y la preparación y revisión de la información.

    br#uso
    
    .card

        img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")

        .card-body
            .card-text

                .header-ecored.mt-0
                    h2 2.2 - Uso de una hoja de seguridad
            
                p Se utiliza para consultar sobre lo peligroso de los plaguicidas que se manipulan. Estas hojas de seguridad son muy útiles para el personal de alguna brigada cuando se presenta alguna emergencia por este tipo de químicos.
                p.mt-4 Los directivos toman medidas de prevención y control con base en los datos que aparecen en la MSDS.
                p.mt-4 En el mundo existen varios centros de información similares a CISTEMA, los cuales almacenan las MSDS y las remiten a sus usuarios. Esto equivale a que los fabricantes de plaguicidas confían, al centro de su mayor confianza, la divulgación de esta información que no será confidencial, pero sí muy bien interpretada.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p Hoja de seguridad