.container#protocolo1

    .header-ecored
        h1 3. Protocolo de emergencias

    .jumbotron.bg-white

        img.img-fluid(src="assets/images/pages/img8.png", style="max-width: 100%").img-a1

        p.mt-4 Ante un derrame de plaguicidas químicos se deberá dar respuesta prontamente tratando de minimizar la posibilidad de que estos accidentes ocurran. continuación e describe el protocolo que debe llevarse a cabo para enfrentar una emergencia con plaguicidas para afrontarlos de una manera oportuna, adecuada y efectiva.
        p El protocolo debe contemplarse desde la fase inicial de generación del derrame hasta la disposición final del residuo.
        p Estos derrames pueden afectar considerablemente las operaciones y daños en el lugar del incidente, muchos derrames pueden prevenirse, una buena implementación y desarrollo de buenas prácticas reducirán significativamente la posibilidad de un derrame, se debe entender que no se debe subestimar ningún tipo de derrame.
        p Para el protocolo se deberá tener en cuenta:

        .sub-line
            h2 Derrame simple
        
        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 No se esparce rápidamente.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 No es peligroso excepto si por contacto directo.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Involucra un solo envase de una capacidad menor de 200 litros.
        
        img.img-fluid(src="assets/images/pages/img9.png", style="max-width: 100%").img-a

        .sub-line
            h2 Asegurar el área
        
        img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%").img-a

        .sub-line
            h2 Consultar la hoja de seguridad del producto

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Identificación del producto.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Composición del producto.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Datos de riesgo para la salud.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Primeros auxilios.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Procedimiento en caso de incendios.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Medidas para fugas.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Almacenaje y manipulación del producto.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Equipos de protección personal a utilizar.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Propiedades físicas y químicas del producto.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Estabilidad y reactividad del producto.
        
        img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%").img-a

        p Se necesitará controlar el derrame evitando el esparcimiento. El personal especializado encargado del protocolo deberá tener capacitación previa y contar con todos los elementos de protección personal en estado idóneo.
        p La emergencia deberá ser evaluada rápidamente, velando de que nadie tenga contacto directo con el área afectada, se debe notificar en el menor tiempo posible del incidente, y por último se limpiará la zona contaminada quitando todos los materiales con que se detuvo el incidente.

    br#notificacion

    .jumbotron.bg-white

        .subtitulo-ecored
            h2
                span.number 3.1
                | Notificación
        
        img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%").img-a1

        p Ante cualquier riesgo de derrame de algún plaguicida, se debe notificar lo más pronto posible ante los entes superiores y especializados del control y manejo de este incidente.
        p En el proceso de notificación se deberá:

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Entregar toda la información al supervisor, para que este proceda en el control de la emergencia.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 El supervisor incluirá en el proceso los equipos idóneos, materiales para tratar el incidente y ubicación de las áreas afectadas.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Buscar toda la información necesaria y recurrir a una asesoría si llega a suceder el caso.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá asegurar el área.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe alertar a las personas de la zona sobre el derrame y que ellos no se acerquen.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Delimitar el área con barreras, rodeando toda el área contaminada.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Rodear el área afectada con materiales que absorban y controlen el derrame.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Ubicar algún elemento para extinción de algún tipo de incendio.
    
    br#determinacion

    .jumbotron.bg-white

        .subtitulo-ecored
            h2
                span.number 3.2
                | Determinación de la fuente de derrame y señalización del área afectada
        
        img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%").img-a1

        p.mt-4 Para determinar la fuente del derrame, se debe tener claridad en qué estado está ese incidente (sólido, líquido y gaseoso).
        p Para la determinación de la fuente de derrame se debe tener en cuenta:

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Evaluación del área afectada.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe localizar el origen del derrame o de la fuga.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe buscar rápidamente la etiqueta de la sustancia, para identificar el contenido y los posibles riesgos.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deben identificar los posibles riesgos en el trayecto del derrame, como por ejemplo los diferentes materiales en el entorno y trabajadores.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá tener una libreta para tomar apuntes de lo ocurrido, para sí es el caso de comunicarlo al mando superior.
        
        img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%").img-a

        p Algunos factores importantes al momento de señalizar el área son:

        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Correr la voz rápidamente a las personas cercanas al lugar sobre el derrame para que no se acerquen.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe ventilar el área.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá acordonar con barreras, rodeando toda el área afectada.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Rodear con materiales absorbentes el área del derrame.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe apagar cualquier tipo de fuente de ignición.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se debe disponer de algún tipo para extinguir un incendio.
        
        p.mt-4 Después de que se ha señalizado el área del derrame, se procederá a su limpieza; en la cual consistirá:
        
        .row.justify-content-center
            .col-11
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Si llega el caso, se deberá intentar recuperar el producto.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá absorber o neutralizar por completo el derrame.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deberá lavar el área contaminada con bastante agua, si es el caso que no exista contraindicación.
                .list.align-items-center.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Se deben señalizar todos los recipientes donde se van a depositar los residuos.
        
        img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%").img-a1.mt-4
    
    br#evaluacion

    .jumbotron.bg-white

        .subtitulo-ecored
            h2
                span.number 3.3
                | Evaluación de daños, tipo de derrame y riesgos
        
        p La evaluación de daños implica determinar los efectos o los potenciales impactos en la salud pública, propiedades involucradas y al medio ambiente. Su potencial de impacto real dependerá del sitio donde está el incidente, en el tiempo y de las condiciones específicas del sitio.
        p Para una buena y completa evaluación de los efectos de una emergencia por plaguicidas químicos, se deberán conocer e identificar las sustancias que lo componen, también se deberá establecer los patrones de dispersión y por último las cantidades de las concentraciones de los productos tóxicos.
        p El riesgo se evaluará en referencia a la exposición del público en el incidente y otros receptores críticos.

        .sub-line
            h2 Tipo de derrame
        
        p Hay dos tipos de derrames, los cuales son:

        .row
            .col-12.col-md-6.p-2

                h3 Derrame líquido:
                p Este tipo de derrame se controlará de la siguiente manera:

                .row.justify-content-center
                    .col-11
                        .list.align-items-center
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe esparcir la arena o la vermiculita, (los cuales son los mejores materiales absorbentes) sobre el área del derrame, en dirección de afuera hacia el centro.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe esperar unos minutos para que el derrame sea completamente absorbido.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe recoger el material contaminado utilizando la pala y escoba del kit de derrames.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe etiquetar la bolsa con la correspondiente identificación del residuo peligroso.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se deben limpiar los materiales utilizados para el control del derrame.
            .col-12.col-md-6.p-2
                h3 Derrame sólido:
                p Este tipo de derrame se controlará de la siguiente manera:

                .row.justify-content-center
                    .col-11
                        .list.align-items-center
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe recoger el material derramado con la pala y escoba del kit de derrames, y posteriormente disponerlo en una bolsa plástica.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se debe limpiar la superficie afectada con paños absorbentes, agua y jabón.
                        .list.align-items-center.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mb-0 Se deben limpiar los materiales utilizados para el control del derrame.
        
        img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%").img-a1.mt-4

        .sub-line
            h2 Evaluación del riesgo
        
        p El riesgo debe ser definido como la probabilidad de que ocurra consecuencias económicas, sociales o ambientales en un sitio y durante un rango de tiempo de exposición determinado. Esta evaluación de riesgo se obtendrá de una relación entre la amenaza con la vulnerabilidad de los elementos que están expuestos.

        .sub-line
            h2 Escenarios de riesgo
        
        p Son la descripción de un futuro muy posible y del camino asociado al futuro. Este escenario es la interacción entre los factores de riesgo (amenaza y vulnerabilidad) dependiendo en qué territorio estén y en qué momento se den. Esto indicará la identificación del tipo de daño y las pérdidas que se podrán generar en un caso de que se presente un evento peligroso en unas condiciones de vulnerabilidad.
        p.text-center
            b Matriz de priorización de riesgos
        
        img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%").img-a1.mt-4