.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Instituto Colombiano de normas Técnicas y Certificación ICONTEC. (1998). Norma Técnica Colombiana 4532. Transporte de mercancías peligrosas. Tarjetas de emergencia para transporte de materiales. Elaboración.
                    td Pdf
                    td 
                        a(href="https://cutt.ly/cgaGOWq", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Asociación Chilena de Seguridad ACHS. Trabajadores y Plaguicidas seguros.
                    td Pdf
                    td 
                        a(href="https://cutt.ly/rgaTu7Z", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver