include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Instituto Colombiano de normas Técnicas y Certificación ICONTEC. (1998). Norma Técnica Colombiana 4532. Transporte de mercancías peligrosas. Tarjetas de emergencia para transporte de materiales. Elaboración.", "")